<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/52030543667/in/dateposted-public/" title="Zoom Background"><img src="https://live.staticflickr.com/65535/52030543667_1ec272fe0c_w.jpg" width="400" height="225" alt="Zoom Background"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

#### Showing...

About Using Emoji in np.arrays.

In [1]:
import numpy as np
import pandas as pd

In [2]:
all_smiles = np.array(9 * ['ðŸ˜Š']).reshape(3,3)
all_smiles

array([['ðŸ˜Š', 'ðŸ˜Š', 'ðŸ˜Š'],
       ['ðŸ˜Š', 'ðŸ˜Š', 'ðŸ˜Š'],
       ['ðŸ˜Š', 'ðŸ˜Š', 'ðŸ˜Š']], dtype='<U1')

In [3]:
all_smiles

array([['ðŸ˜Š', 'ðŸ˜Š', 'ðŸ˜Š'],
       ['ðŸ˜Š', 'ðŸ˜Š', 'ðŸ˜Š'],
       ['ðŸ˜Š', 'ðŸ˜Š', 'ðŸ˜Š']], dtype='<U1')

In [4]:
ord('ðŸ˜Š')

128522

In [5]:
chr(128522)

'ðŸ˜Š'

In [6]:
chr(128522 + 4)

'ðŸ˜Ž'

In [7]:
@np.vectorize
def add_offset(cell, offset):
    return chr(ord(cell) + offset)

# same as: add_offset = np.vectorize(add_offset)

In [8]:
add_offset(all_smiles, 4)

array([['ðŸ˜Ž', 'ðŸ˜Ž', 'ðŸ˜Ž'],
       ['ðŸ˜Ž', 'ðŸ˜Ž', 'ðŸ˜Ž'],
       ['ðŸ˜Ž', 'ðŸ˜Ž', 'ðŸ˜Ž']], dtype='<U1')

In [9]:
df = pd.DataFrame(all_smiles, 
                index=['a','b', 'c'],
                columns = ['x','y','z'])
df

   x  y  z
a  ðŸ˜Š  ðŸ˜Š  ðŸ˜Š
b  ðŸ˜Š  ðŸ˜Š  ðŸ˜Š
c  ðŸ˜Š  ðŸ˜Š  ðŸ˜Š

In [10]:
df.transform(lambda x: add_offset(x, 4))

   x  y  z
a  ðŸ˜Ž  ðŸ˜Ž  ðŸ˜Ž
b  ðŸ˜Ž  ðŸ˜Ž  ðŸ˜Ž
c  ðŸ˜Ž  ðŸ˜Ž  ðŸ˜Ž

In [11]:
df

   x  y  z
a  ðŸ˜Š  ðŸ˜Š  ðŸ˜Š
b  ðŸ˜Š  ðŸ˜Š  ðŸ˜Š
c  ðŸ˜Š  ðŸ˜Š  ðŸ˜Š

In [12]:
df.loc['b', 'y'] = chr(ord(df.loc['b', 'y']) + 4)

In [13]:
df

   x  y  z
a  ðŸ˜Š  ðŸ˜Š  ðŸ˜Š
b  ðŸ˜Š  ðŸ˜Ž  ðŸ˜Š
c  ðŸ˜Š  ðŸ˜Š  ðŸ˜Š