<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>

# Example -1 Inclass Data

In [1]:
# Importing reelating libraries; Pandas, Numpy, scipy.stats

import pandas as pd
import seaborn as sns
from scipy.stats import chi2_contingency

In [2]:
table = [[15, 21, 45, 13],[26, 31, 34, 5], [33, 17, 49, 20]]

**Stating the null (H0) & alternative hypothesis (Ha or H1):**

Ho: The two categorical variables are independent.
H1: The two categorical variables are dependent.

**Calculating Test Statistic & p-value:**

In [3]:
stat, p, dof, expected = chi2_contingency(table)

**Making a decision:**

In [4]:
print('stat=%.3f, p=%.4f' % (stat, p))

if p > 0.05:
    print('Fail to reject Ho')
else:
    print('We reject the null hypothesis. The two categorical variables are dependent')

stat=19.178, p=0.0039
We reject the null hypothesis. The two categorical variables are dependent

In [5]:
expected

array([[22.51132686, 20.99029126, 38.93851133, 11.55987055],
       [22.99029126, 21.4368932 , 39.76699029, 11.80582524],
       [28.49838188, 26.57281553, 49.29449838, 14.63430421]])

In [6]:
dof

6

In [7]:
# We can get the same result with manual method

from scipy import stats

1 - stats.chi2.cdf(19.17, 6)

0.0038859579107577424

# Example -2 Titanic Dataset

In [8]:
titanic = sns.load_dataset("titanic")

titanic.sample(7)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
551,0,2,male,27.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
508,0,3,male,28.0,0,0,22.5250,S,Third,man,True,NaN,Southampton,no,True
531,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
749,0,3,male,31.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
13,0,3,male,39.0,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
655,0,2,male,24.0,2,0,73.5000,S,Second,man,True,NaN,Southampton,no,False
623,0,3,male,21.0,0,0,7.8542,S,Third,man,True,NaN,Southampton,no,True

**How many rows and columns we have in Titanic Dataset?**

In [9]:
titanic.shape

(891, 15)

**How many null values are there in the features/columns?**

In [10]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [11]:
titanic = titanic.drop(["deck", "age"], axis=1)

In [12]:
titanic = titanic.dropna()

In [13]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     889 non-null    int64
 1   pclass       889 non-null    int64
 2   sex          889 non-null    object
 3   sibsp        889 non-null    int64
 4   parch        889 non-null    int64
 5   fare         889 non-null    float64
 6   embarked     889 non-null    object
 7   class        889 non-null    category
 8   who          889 non-null    object
 9   adult_male   889 non-null    bool
 10  embark_town  889 non-null    object
 11  alive        889 non-null    object
 12  alone        889 non-null    bool
dtypes: bool(2), category(1), float64(1), int64(4), object(5)
memory usage: 79.1+ KB

In [14]:
titanic2 = titanic.sample(200, random_state=42)

**Our research question is:**

Does gender affects survival?

**Stating the null (H0) & alternative hypothesis (Ha or H1):**

Ho: The two categorical variables (sex & survived) are independent.
H1: The two categorical variables (sex & survived) are dependent.

**Creating a Cross-Tabulation (contingency table):**

In [15]:
# Both male and female survivors can be examined using a crosstab

crosstab = pd.crosstab(titanic2.survived, titanic2.sex)
crosstab

sex       female  male
survived
0             24   101
1             56    19

**Calculating Test Statistic & p-value:**

In [16]:
from scipy import stats

stat, p, dof, expected = stats.chi2_contingency(crosstab)

print('stat=%.3f, p=%.4f' % (stat, p))

stat=57.800, p=0.0000

**Making a decision:**

In [17]:
alpha = 0.05

if p < alpha:
    print('At {} level of significance, we can REJECT the Null Hypothesis (H0) in favor of Alternative hypothesis (H1) and \nit can be concluded that two categorical variables {} and {} are statistically dependent.'.format(alpha, crosstab.index.names, crosstab.columns.names))
else:
    print('At {} level of significance, we FAIL to REJECT the Null Hypothesis (H0)and \nit can be concluded that two categorical variables {} and {} are statistically independent.'.format(alpha, crosstab.index.names, crosstab.columns.names))

At 0.05 level of significance, we can REJECT the Null Hypothesis (H0) in favor of Alternative hypothesis (H1) and
it can be concluded that two categorical variables ['survived'] and ['sex'] are statistically dependent.

# Example-3 Titanic Dataset

**Our research question is:**

Does type of class affect survival? In other words, Class and survived variables are dependent or not?

**Stating the null (H0) & alternative hypothesis (Ha or H1):**

Ho: The two categorical variables (class & survived) are independent.
H1: The two categorical variables (class & survived) are dependent.

**Creating a Cross-Tabulation (contingency table):**

In [18]:
# Both male and female survivors can be examined using a crosstab

crosstab = pd.crosstab(titanic2["survived"], titanic2["class"])
crosstab

class     First  Second  Third
survived
0            16      27     82
1            32      18     25

**Calculating Test Statistic & p-value:**

In [19]:
stat, p, dof, expected = stats.chi2_contingency(crosstab)

print('stat=%.3f, p=%.4f' % (stat, p))

stat=26.664, p=0.0000

**Making a decision:**

In [20]:
alpha = 0.05

if p < alpha:
    print('At {} level of significance, we can REJECT the Null Hypothesis (H0) in favor of Alternative hypothesis (H1) and \nit can be concluded that two categorical variables {} and {} are statistically dependent.'.format(alpha, crosstab.index.names, crosstab.columns.names))
else:
    print('At {} level of significance, we FAIL to REJECT the Null Hypothesis (H0)and \nit can be concluded that two categorical variables {} and {} are statistically independent.'.format(alpha, crosstab.index.names, crosstab.columns.names))

At 0.05 level of significance, we can REJECT the Null Hypothesis (H0) in favor of Alternative hypothesis (H1) and
it can be concluded that two categorical variables ['survived'] and ['class'] are statistically dependent.

# Example-4 Titanic Dataset

**Our research question is:**

Does the place where passangers embarked affect the type of class? 
In other words, embarked and class variables are dependent or not?

**Stating the null (H0) & alternative hypothesis (Ha or H1):**

Ho: The two categorical variables (embarked & class) are independent.
H1: The two categorical variables (embarked & class) are dependent.

**Creating a Cross-Tabulation (contingency table):**

In [21]:
crosstab = pd.crosstab(titanic2["embarked"], titanic2["class"])
crosstab

class     First  Second  Third
embarked
C            21       2     15
Q             1       2     12
S            26      41     80

In [22]:
# crosstab = pd.crosstab(titanic2["embarked"], titanic2["class"], normalize="columns")
# crosstab

**Calculating Test Statistic & p-value:**

In [23]:
stat, p, dof, expected = stats.chi2_contingency(crosstab)

print('stat=%.3f, p=%.4f' % (stat, p))

stat=30.661, p=0.0000

**Making a decision:**

In [24]:
alpha = 0.05

if p < alpha:
    print('At {} level of significance, we can REJECT the Null Hypothesis (H0) in favor of Alternative hypothesis (H1) and \nit can be concluded that two categorical variables {} and {} are statistically dependent.'.format(alpha, crosstab.index.names, crosstab.columns.names))
else:
    print('At {} level of significance, we FAIL to REJECT the Null Hypothesis (H0)and \nit can be concluded that two categorical variables {} and {} are statistically independent.'.format(alpha, crosstab.index.names, crosstab.columns.names))

At 0.05 level of significance, we can REJECT the Null Hypothesis (H0) in favor of Alternative hypothesis (H1) and
it can be concluded that two categorical variables ['embarked'] and ['class'] are statistically dependent.

# Example-4 mpg Dataset

In [25]:
mpg = sns.load_dataset("mpg")
mpg.sample(7)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
275,17.0,6,163.0,125.0,3140,13.6,78,europe,volvo 264gl
364,26.6,8,350.0,105.0,3725,19.0,81,usa,oldsmobile cutlass ls
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
178,23.0,4,120.0,88.0,2957,17.0,75,europe,peugeot 504
84,27.0,4,97.0,88.0,2100,16.5,72,japan,toyota corolla 1600 (sw)
197,29.0,4,90.0,70.0,1937,14.2,76,europe,vw rabbit
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick

**Our research question is:**

Does the origin of cars affect the number of cylinders? 
In other words, origin and cylinders variables are dependent or not?

**Stating the null (H0) & alternative hypothesis (Ha or H1):**

Ho: The two categorical variables (origin & cylinders) are independent.
H1: The two categorical variables (origin & cylinders) are dependent.

**Creating a Cross-Tabulation (contingency table):**

In [26]:
crosstab = pd.crosstab(mpg["origin"], mpg["cylinders"])
crosstab

cylinders  3   4  5   6    8
origin
europe     0  63  3   4    0
japan      4  69  0   6    0
usa        0  72  0  74  103

**Calculating Test Statistic & p-value:**

In [27]:
stat, p, dof, expected = stats.chi2_contingency(crosstab)

print('stat=%.3f, p=%.4f' % (stat, p))

stat=180.102, p=0.0000

**Making a decision:**

In [28]:
alpha = 0.05

if p < alpha:
    print('At {} level of significance, we can REJECT the Null Hypothesis (H0) in favor of Alternative hypothesis (H1) and \nit can be concluded that two categorical variables {} and {} are statistically dependent.'.format(alpha, crosstab.index.names, crosstab.columns.names))
else:
    print('At {} level of significance, we FAIL to REJECT the Null Hypothesis (H0)and \nit can be concluded that two categorical variables {} and {} are statistically independent.'.format(alpha, crosstab.index.names, crosstab.columns.names))

At 0.05 level of significance, we can REJECT the Null Hypothesis (H0) in favor of Alternative hypothesis (H1) and
it can be concluded that two categorical variables ['origin'] and ['cylinders'] are statistically dependent.

# Example-4 diamonds Dataset

In [29]:
diamonds = sns.load_dataset("diamonds")
diamonds.sample(7)

       carat      cut color clarity  depth  table  price     x     y     z
29018   0.31    Ideal     G    VVS2   61.8   56.0    687  4.37  4.40  2.71
8148    1.01  Premium     I     SI1   61.9   58.0   4355  6.48  6.42  3.99
30957   0.32    Ideal     I     VS2   62.5   57.0    449  4.35  4.39  2.73
47626   0.75  Premium     F     SI2   59.8   60.0   1881  5.96  5.92  3.55
37380   0.40    Ideal     F     VS1   62.7   55.0    982  4.74  4.76  2.98
25176   1.54    Ideal     G     VS2   60.6   57.0  13761  7.55  7.49  4.56
6209    1.01    Ideal     I     SI1   60.6   57.0   3999  6.51  6.56  3.96

**Our research question is:**

Does the clarity of diomands affect their type of cut? 
In other words, cut and clarity variables are dependent or not?

**Stating the null (H0) & alternative hypothesis (Ha or H1):**

Ho: The two categorical variables (cut & clarity) are independent.
H1: The two categorical variables (cut & clarity) are dependent.

**Creating a Cross-Tabulation (contingency table):**

In [30]:
crosstab = pd.crosstab(diamonds["cut"], diamonds["clarity"])
crosstab

clarity      IF  VVS1  VVS2   VS1   VS2   SI1   SI2   I1
cut
Ideal      1212  2047  2606  3589  5071  4282  2598  146
Premium     230   616   870  1989  3357  3575  2949  205
Very Good   268   789  1235  1775  2591  3240  2100   84
Good         71   186   286   648   978  1560  1081   96
Fair          9    17    69   170   261   408   466  210

In [31]:
crosstab.index.names

FrozenList(['cut'])

In [32]:
crosstab.columns.names

FrozenList(['clarity'])

**Calculating Test Statistic & p-value:**

In [33]:
stat, p, dof, expected = stats.chi2_contingency(crosstab)

print('stat=%.3f, p=%.4f' % (stat, p))

stat=4391.398, p=0.0000

**Making a decision:**

In [34]:
alpha = 0.05

if p < alpha:
    print('At {} level of significance, we can REJECT the Null Hypothesis (H0) in favor of Alternative hypothesis (H1) and \nit can be concluded that two categorical variables {} and {} are statistically dependent.'.format(alpha, crosstab.index.names, crosstab.columns.names))
else:
    print('At {} level of significance, we FAIL to REJECT the Null Hypothesis (H0)and \nit can be concluded that two categorical variables {} and {} are statistically independent.'.format(alpha, crosstab.index.names, crosstab.columns.names))

At 0.05 level of significance, we can REJECT the Null Hypothesis (H0) in favor of Alternative hypothesis (H1) and
it can be concluded that two categorical variables ['cut'] and ['clarity'] are statistically dependent.

# It's your turn for practice:

In [36]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>